.container{
    margin-top: 100px;
}

.title{
    font-size: 40px;
    font-family: viga;
}

.border{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 4px;
}

.btn-info{
    background-color: #7E4CA5;
    color: aliceblue;
    border: none;
}

.btn-info:hover{
    background-color: #540c8c;
    color: aliceblue;
    border: none;
}

