{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center">
        <form method="post">
          {% csrf_token %}
          <div class="title-login">
            <p class="p-title">Login</p>
          </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" id="email">
            </div>
            <div class="mb-3">
              <label for="senha" class="form-label">Senha</label>
              <input type="password" class="form-control" name="senha" id="senha">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="conectado">
              <label class="form-check-label" for="conectado">Ficar conectado</label>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>

            <p class="sem-cadastro">
              <a href="{% url 'autenticacao:cadastro' %}">Não tem cadastro? Cadastre-se</a>
            </p>
            
            {% if messages %}
              {% for message in messages %}
                <br>
                <br>
                <div class="alert {{ message.tags }}">{{ message }}</div>
              {% endfor %}
            {% endif %}
          </form>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>